<h1>Listing user_histories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Actors</th>
    <th>Dependence</th>
    <th>Priotity</th>
    <th>Iteration</th>
    <th>True time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_histories.each do |user_history| %>
  <tr>
    <td><%= user_history.id %></td>
    <td><%= user_history.name %></td>
    <td><%= user_history.actors %></td>
    <td><%= user_history.dependence %></td>
    <td><%= user_history.priotity %></td>
    <td><%= user_history.iteration %></td>
    <td><%= user_history.true_time %></td>
    <td><%= link_to 'Show', user_history %></td>
    <td><%= link_to 'Edit', edit_user_history_path(user_history) %></td>
    <td><%= link_to 'Destroy', user_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User history', new_user_history_path %>
