<% content_for :heading do %>
User History Details
<% end %>

<p id="notice"><%= notice %></p>

<div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
		<p><b>Identifier: </b><%= @user_history.identifier %></p>
		<p><b>Name: </b><%= @user_history.name %></p>
		<p><b>Author: </b><%= @user_history.author %></p>
		<p><b>Actors: </b><%= @user_history.actors %></p>
		<p><b>Priority: </b><%= @user_history.priority %></p>
		<p><b>Iteration: </b><%= @user_history.iteration %></p>
		<p><b>Dependence: </b><%= @user_history.dependence %></p>
		<p><b>Description: </b><%= @user_history.description %></p>
		<p><b>Comments: </b><%= @user_history.comments %></p>
		<p><b>Creation Date: </b><%= @user_history.creation_date %></p>
		<p><b>Modification Date: </b><%= @user_history.modification_date %></p>
		<% if @user_history.estimation? %>
			<p><b>True time: </b><%= @user_history.true_time %></p>
			<%= link_to 'Edit Estimation', edit_project_user_history_estimation_path(@project, @user_history, @user_history.estimation) %> 
		<% else %>
			<%= link_to 'New Estimation', new_project_user_history_estimation_path(@project, @user_history) %> 
		<% end %>
	</fieldset>
</div>

<%= link_to 'Edit', edit_project_user_history_path(@project, @user_history) %> |
<%= link_to 'Destroy', project_user_history_path(@project, @user_history), :confirm => 'Are you sure?', :method => :delete  %> |
<%= link_to 'Back', project_path(@project) %> 
