<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @modulo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @modulo.description %>
</p>


<%= link_to 'Edit', edit_modulo_path(@modulo) %> |
<%= link_to 'Back', modulos_path %>
