<% content_for :heading do %>
Project Details
<% end %>

<div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
		<p><b>Name:</b><%= @project.name %></p>
		<p><b>Description:</b><%= @project.description %></p>
		<% if @project.user_histories.size > 0 %>
			<fieldset class="ui-grid-a">
				<h2>User Histories</h2>
				<% for user_history in @project.user_histories %>
				<p>User History: <%=link_to user_history.name, project_user_history_path(@project, user_history) %></p>
				<% end %>
			</fieldset>
		<% end %>
		
		<%= link_to 'New User history', new_project_user_history_path(@project) %>
		
	</fieldset>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>



