<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<% if @project.user_histories.size > 0 %>
  <h2>User History</h2>
  <% for user_history in @project.user_histories %>
    <h3><%= user_history.name %></h3>
    <p><%= user_history.actors %></p>
	<p><%= user_history.dependence %></p>
	<p><%= user_history.priotity %></p>
	<p><%= user_history.iteration %></p>
  <% end %>
<% end %>

<h2>New User History</h2>

	<%= form_for [@project, UserHistory.new] do |uh| %>
		<p><%= uh.label :cod %> <%= uh.text_field :cod %></p>
		<p><%= uh.label :name %> <%= uh.text_field :name %></p>
		<p><%= uh.label :actors %> <%= uh.text_field :actors %></p>
		<p><%= uh.label :dependence %> <%= uh.text_field :dependence %></p>
		<p><%= uh.label :priotity %> <%= uh.text_field :priotity %></p>
		<p><%= uh.label :iteration %> <%= uh.text_field :iteration %></p>
		<p><%= uh.label :true_time %> <%= uh.text_field :true_time %></p>
		<p><%= uh.submit "Create User History" %></p>
	<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

