<%= form_for([@project, @user_history, @estimation]) do |f| %>

<% if @estimation.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@estimation.errors.count, "error") %> prohibited this estimation from being saved:</h2>

	<ul>
		<% @estimation.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div data-role="content">
	<ul data-role="listview" data-split-theme="b">
		<li>
			<h3>Lógica de negocio asociada : </h3>
			<%= f.collection_select :business_logic_associated_parameter_id, @bus_logic, :id, :label%>
		</li>
		<li>
			<h3>Ayuda mediante generador de código : </h3>
			<%= f.collection_select :code_gen_help_parameter_id, @code_gen_help, :id, :label%>
		</li>
		<li>
			<h3>Experiencia del desarollador : </h3>
			<%= f.collection_select :dev_exp_parameter_id, @developer_exp, :id, :label%>
		</li>
		<li>
			<h3>Tipo de vista : </h3>

			<%  #f.grouped_collection_select(:view_type_parameter_id,@viewtypes,:name,:description,:id,:label)%>

			<select id="estimation_view_type_parameter_id" name="estimation[view_type_parameter_id]">

				<% @view_types.each do |name,view_type|

				%>
				<optgroup label="<%= name %>">
					<% view_type.each do |value| %>
					<option value="<%= value.id%>"
					<% if value.id == @estimation.view_type_parameter_id %>
					selected="selected"
					<% end %>><%= value.label%></option>
					<% end %>
				</optgroup>
				<% end %>

			</select>
		</li>
	</ul>
</div>

<%=f.fields_for :metric_parameters do |builder| %>

<div data-role="collapsible" data-theme="b" data-content-theme="b">
	<%= builder.hidden_field :name %>
	<%= builder.hidden_field :description %>
	<%= builder.hidden_field :weight %>
	<h2><%= builder.object.description %> </h2>
	<div class="ui-grid-b">
		<div class="ui-block-a">
			<%= builder.label :optimistic_value %>
			
			<%= builder.text_field :optimistic_value%>
		</div>
		<div class="ui-block-b">
			<%= builder.label :probable_value %>
			
			<%= builder.text_field :probable_value %>
		</div>
		<div class="ui-block-c">
			<%= builder.label :pessimistic_value %>
			
			<%= builder.text_field :pessimistic_value %>
		</div>
	</div><!-- /grid-b -->

	<div class="ui-grid-b">
		<div class="ui-block-a">
			<%= builder.label :value %>
			
			<%= builder.text_field :value %>
		</div>
		<div class="ui-block-b">
			<%= builder.label :weight %>
			
			<%= builder.text_field :weight, :disabled=>true %>
		</div>
		<div class="ui-block-c">
			<%= builder.label :quantity %>
			
			<%= builder.text_field :quantity %>
		</div>
	</div><!-- /grid-b -->
</div>
<% end %>


<div class="field" data-role="fieldcontain">
	<label><h3>Total Integración Funcional - Persistencia sin Ajustar </h3></label>
	<%= f.text_field :total_metrics, :placeholder => "Total métricas"%>
</div>

<div class="field" data-role="fieldcontain">
	<%= f.label :total_complexity %>	
	<%= f.text_field :total_complexity %>
</div>

<div class="field" data-role="fieldcontain">
	<%= f.label :view_type_factor %>	
	<%= f.text_field :view_type_factor %>
</div>

<div class="field" data-role="fieldcontain">
	<%= f.label :percentage_reuse %>	
	<%= f.text_field :percentage_reuse %>
</div>

<div class="field" data-role="fieldcontain">
	<%= f.label :total_web_points %>	
	<%= f.text_field :total_web_points %>
</div>

<div class="field" data-role="fieldcontain">
	<%= f.label :effort %>	
	<%= f.text_field :effort %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
